.bottom-bar-col
{
    background-color: #1d2026;   
    color: #fff;

}

.bottom-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding:5px;
    align-items: center;
    
}



.nav-bar1 nav ul{
    display: flex;
}



.nav-bar1 nav ul li{
    margin: 30px; 

}

.nav-bar1 nav ul li a{
    
    font-size: 14px;

}